

.delivery{
    padding-left: 47px;
    padding-right: 10px;
    padding-top: 50px;
    
}

.ToggleButton{
    width: 50%;
}

.payement{
    padding-left: 47px;
}

.mt-2{
    width: 100px;
}

.wine{
    width: 100%;
}

.add{
    margin-left: 30px;
}
.selection{
    padding-left: 30px;
}
